= form_with(model: @routine, local: true) do |f|
  = f.label :name
  = f.text_field :name

  = f.label :content
  = f.text_field :name

  = f.submit

/ <%= form_with(model: インスタンス変数, local: true) do |f| %>
/   <div class="blog_title">
/     <%= f.label :title %>
/     <%= f.text_field :title %>
/   </div>
/   <div class="blog_title">
/     <%= f.label :content %>
/     <%= f.text_field :content %>
/   </div>
/   <%= f.submit %>
/ <% end %>
